mixin navLink(link, name, last)
    li
        if(last)
            a(href=link).nav-link.last-link=name
        else
            a(href=link).nav-link=name

- var linkObj1 = {link: "index.html", name: "Главная"};
- var linkObj2 = {link: "articles.html", name: "Статьи"};
- var linkObj3 = {link: "sell.html", name: "Продукт"};
- var navLinks = [linkObj1,linkObj2,linkObj3]

header
    .header
        ul.nav
            for i in navLinks
                +navLink(i.link,i.name)
        .themes
            h1 Темы сайта
            input(type="radio", id="theme_button_1", value="Зеленая", name="theme", checked)
            input(type="radio", id="theme_button_2", value="Синяя", name="theme")
            input(type="radio", id="theme_button_3", value="Красная", name="theme")
