mixin navLink(link, name, last)
    li
        if(last)
            a(href=link).nav-link.last-link=name
        else
            a(href=link).nav-link=name

- var linkObj1 = {link: "index.html", name: "Главная"};
- var linkObj2 = {link: "articles.html", name: "Статьи"};
- var linkObj3 = {link: "sell.html", name: "Продукт"};
- var linkObj4 = {link: "contacts.html", name: "Контакты"};
- var navLinks = [linkObj1,linkObj2,linkObj3,linkObj4]

header
    .header
        ul.nav
            for i in navLinks
                +navLink(i.link,i.name)
