extends layout/main

block variables
    - var pageTitle = 'index'

block content
    h1 test pug
    .hello-text
        p Доброго времени суток!
        p Если есть вопросы, звоните по телефону #[a(href="" class="phone") 8-922-222-22-22]