extends layout/main

block variables
    - var pageTitle = 'index'

block content
    .content
        h1 Главная страница
        .hello-text
            p Доброго времени суток!
            p Если есть вопросы, звоните по телефону #[a(href="" class="phone") 8-922-222-22-22]
        .block.first
            p Текст1
        .block
            p Текст2
        .block
            p Текст3