extends layout/no-header

block variables
    - var pageTitle = 'sell'

block content
    .content
        h1 Продукт
        .product
            p Получить за 1000 руб: #[a(href="/product.html") Купить]